/*start section-hero*/
.section-hero{
    padding: 80px 0 66px;
    position: relative;
    
    &__image{
        max-width: 450px;
        margin: 0 auto 26px;
        position: relative;

        &:before{
            content: '';
            width: auto;
            height: auto;
            background-color: #E7EFFF;
            filter: blur(122px);
            position: absolute;
            top: -30px;
            left: -30px;
            right: -30px;
            bottom: -30px;
            z-index: -1;
        }

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__desc{
        margin: 0 auto 10px;
    }
    &__suptitle{
        font-size: 11px;
        font-weight: 500;
        color: $greyLightColor;
        text-transform: uppercase;
        display: block;
        text-align: center;
        margin: 0 auto 11px;
    }
}
@media (min-width: 768px) {
    .section-hero{
        padding: 90px 0 86px;

        .container{
            display: flex;
            flex-direction: column-reverse;
        }
        &__image{
            max-width: 703px;
        }
        &__desc{
            max-width: 770px;
            text-align: center;
            margin: 0 auto 5px;
        }
        &__suptitle{
            font-size: 13px;
            margin: 0 0 20px;
        }
    }
}
/*send section-hero*/

/*start section-slider*/
.section-slider{
    position: relative;
    width: 100%;
    padding: 50px 0 20px;

    .container{
        padding: 0;
    }

    &__title{
        text-align: center;
        font-size: 14px;
        margin: 0 0 30px;
        padding: 0 20px;
        
        p{
            font-size: 16px;
            margin: 0 0 15px;
        }
    }
    h2{
        margin: 0 0 15px;
    }
}
.slider-paginator{
    display: none;
}
.slider{
    margin: 0 0 27px; 

    .slick-track{
        display: flex;
    }
    .slick-list{
        padding: 0 28px !important;
    }
    .slick-slide{
        float: none;
        height: inherit;

        &>div{
            display: flex;
            height: 100%;
        }
    }

}
.slide-item{
    padding: 16px;
    background: $lightBg;
    border-radius: 20px;
    margin: 0 6px;
    width: calc(100% - 12px) !important;
    height: 100%;

    &__image{
        width: 100%;
        padding-top: 51%;
        margin: 0 auto 33px;
        border-radius: 5px;
        position: relative;
        
        &:before{
            content: '';
            width: auto;
            height: auto;
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            z-index: 1;
            box-shadow: 0px 80px 45px 0px rgba(0, 0, 0, 0.09);
        }

        img{
            position: relative;
            z-index: 2;
            @include imgAbsolute(100%, 100%, cover);
            border-radius: 5px;
        }
    }
    &__title{
        font-size: 19px;
        line-height: 1.2;
        font-weight: 500;
        margin: 0 0 12px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        .slick-slide__mark{
            display: block;
            background-color: $whiteBg;
            border-radius: 7px;
            font-size: 10px;
            font-weight: 700;
            color: $primaryBg;
            padding: 5px 6px;
            margin: 0 0 0 10px;
        }
    }
    &__text{
        font-size: 14px;
        line-height: 1.4;
        margin: 0 0 50px;
    }
}
.slider-nav{
    display: flex;
    justify-content: center;
    padding: 0 30px;
    position: relative;
    flex-direction: row-reverse;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: #a4a4a4;
    max-width: 114px;
    margin: 0 auto 40px;
}
.slick-dots{
    position: relative;

    li{
        display: none;

        &.slick-active{
            display: block;
        }

        button{
            border:none;
            background-color: rgba(0,0,0,0);
            padding: 0;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 500;
            color: #424557;
            vertical-align: top;
        }
    }
}
.slider-count{
    display: inline-block;
    
}
.slick-arrow{
    width: 15px;
    height: 15px;
    border-left: 3px solid #d0d0d0;
    border-bottom: 3px solid #d0d0d0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    transition: border-color 0.3s ease;
    cursor: pointer;

    &.right{
        left: auto;
        right: 0;
        transform: translateY(-50%) rotate(-135deg);
    }
    &:hover{
        border-color: #b3b3b3;
    }
}
@media (min-width: 1024px) {
    .section-slider{
        padding: 100px 0 40px;
        &__title{
            margin: 0 0 73px;

            p{
                font-size: 19px;
            }
        }
    }
    .slider-nav{
        display: none;
    }
    .slider-hold{
        display: flex;
        max-width: 895px;
        margin: 0 auto;
        color: $greyColor;
    }
    .slider{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

        .slick-list{
            padding: 0 !important;
            width: 50%;
        }
        .slick-slide{
            >div{
                width: 100%;
            }
        }
        .slick-dots{
            width: 50%;

            li{
                display: block;
                width: 100% !important;
                max-width: 370px;
                cursor: pointer;

                .slick-slide{
                    font-size: 16px;
                    line-height: 1.6;
                    width: 100% !important;
                    opacity: 1 !important;
                    left: 0 !important;
                    padding: 13px 10px;
                    border-radius: 10px;
                    background: $lightBg;
                    margin: 0 0 5px; 
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center; 
                }
                &.slick-active{
                    .slick-slide{
                        background: $blueMiddleColor;
                    }
                }
            }
            
        }
    }
    .slick-slide__mark{
        font-size: 12px;
        line-height: 1.25;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 6px;
        background: $whiteBg;
        border-radius: 7px;
        color: $blueDarkColor;
        display: inline-block;
        margin: 0 0 0 10px;
    }
    .slide-item{
        padding: 0;
        margin: 0;
        background: rgba(0,0,0,0);
        width: 100% !important;

        &__image{
            max-width: 382px;
            margin: 0 auto 32px;
        }
        &__title{
            font-size: 28px;
            line-height: 1.3;
            margin: 0 0 15px;

            .slick-slide__mark{
                display: none;
            }

        }
        &__text{
            font-size: 19px;
            line-height: 1.3;
        }
    }
}
/*end section-slider*/

/*start section-product*/
.section-product{
    background-color: $greyBg;
    padding: 30px 0;

    h3{
        text-align: center;
        margin: 0 0 30px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        padding:  0 14px;
    }
    &__item{
        width: 100%;
        background-color: $lightBg;
        border-radius: 20px;
        padding: 16px;
        margin: 0 0 16px;
        min-height: 363px;
    }
    &__media{
        width: 100%;
        margin: 0 0 27px;
        box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07);

        a{
            display: block;
            width: 100%;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: rgba(0,0,0,0.6);

            &:before{
                content: '';
                width: 50px;
                height: 50px;
                border: 5px solid $whiteBg;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 3;
            }
            &:after{
                content: '';
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 11px 0 11px 18px;
                border-color: transparent transparent transparent $whiteBg;
                transform: rotate(0deg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                margin: 0 0 0 3px;
                z-index: 3;
            }
        }
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            z-index: 1;
        }
    }
    &__info{
        position: relative;
        font-size: 14px;
        line-height: 1.4;

    }
    &__title{
        font-size: 19px;
        font-weight: 500;
        display: block;
        margin: 0 0 11px;
    }
}
@media (min-width: 768px) {
    .section-product{
        padding: 125px 0;

        h3{
            margin: 0 0 70px;
        }
        &__list{
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -8px 9px;
            width: auto;
        }
        &__item{
            width: calc(50% - 16px);
            margin: 0 8px 16px;
        }
        &__title{
            font-size: 23px;
            margin: 0 0 10px;
        }
    }  
}
@media (min-width: 1200px) {
    .section-product{
        &__item{
            display: flex;
            flex-direction: row-reverse;
            min-height: inherit;
        }
        &__media{
            width: calc(50% - 10px);
            margin: 0 0 0 10px;
            box-shadow: none;
        }
        &__info{
            width: 50%;
            padding: 0 10px 0 0;
        }
    }
}
/*end section-product*/

.fancybox__backdrop{
    background-color: rgba(97, 100, 114, 0.8);
}
.fancybox__carousel{
    padding: 0 20px;
}
.fancybox__slide{
    padding: 0;
    margin: 0;
}
.fancybox__slide.has-image>.fancybox__content{
    width: 100% !important;
    height: auto !important;
    background-color: $whiteBg;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(110, 110, 110, 0.25);
    padding: 22px 10px 10px 10px;

}
.fancybox__content{
    .close-button{
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        right: 10px;
        background-color: rgba(0,0,0,0);
        border: none;
        
        &:before,
        &:after{
            content: '';
            width: 8px;
            height: 1px;
            background-color: $greyMiddleColor;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-45deg);
        }
        &:after{
            transform: translate(-50%,-50%) rotate(45deg);
        }
    }
}
.fancybox__toolbar__column{
    display: none !important;
}
.fancybox-image{
    border-radius: 10px;
}
@media (min-width: 1024px) {
    .fancybox__slide.has-image>.fancybox__content{
        max-width: 944px;
        padding: 88px 82px 50px;
        border-radius: 26px;

    }
    .fancybox-image{
        border-radius: 26px;
    }
    .fancybox__content{
        .close-button{
            top: 39px;
            right: 94px;
            
            &:before,
            &:after{
                content: '';
                width: 20px;
                height: 3px;
                background-color: $greyMiddleColor;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(-45deg);
            }
            &:after{
                transform: translate(-50%,-50%) rotate(45deg);
            }
        }
    }
}
/*start section-advert*/
.section-advert{
    padding: 30px 0 65px;

    &__hold{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px 35px 0;
        background: $primaryBg;
        border-radius: 15px;
    }
    &__info{
        width: 100%;
        color: $whiteColor;
        text-align: center;
        font-size: 16px;

        h4{
            text-align: left;
            margin: 0 0 20px;
        }
        p{
            text-align: left;
            margin: 0 0 42px;
        }
        .btn{
            margin: 0 0 63px;
        }
    }
    &__media{
        width: 240px;
        height: 211px;
        background-color: $whiteBg;
        margin: 0 auto -35px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.04);

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
}
@media (min-width: 992px) {
    .section-advert{
        padding: 100px 0;

        &__hold{
            padding: 40px 30px;
            flex-direction: row;
            border-radius: 26px;
        }
        &__info{
            flex: 1;
            padding: 0 40px 0 0;
            text-align: left;

            p{
                margin: 0 0 40px;
            }
            .btn{
                margin: 0 0 22px;
            }
        }
        &__media{
            flex: 0 0 397px;
            height: 353px;
            border-radius: 13px;
            margin: 0 0 -75px;
            align-self: flex-end;
        }
    }
}
@media (min-width: 1200px){
    .section-advert{

        &__hold{
            padding: 62px 100px 50px;
        }
        &__info{
            padding: 0 100px 0 0;
            font-size: 19px;
        }
        &__media{
            margin: 0 0 -87px;
        }
    }
}

/*end section-advert*/
/*start section-entry*/
.section-entry{
    padding:  89px 0 44px;

    .container{
        max-width: 990px;
        display: flex;
        flex-direction: column;
    }
    &__image{
        width: 302px;
        height: 168px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 27px;
        border-radius: 15px;
        background-color: $lightBg;
        box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.035);

        img{
            display: block;
            width: auto;
            height: 100%;
            object-fit: cover;
        }

    }
    &__desc{
        position: relative;
        max-width: 770px;
        margin: 0 auto;
    }
    &__suptitle{
        font-size: 11px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: $greyLightColor;
        display: block;
        margin: 0 0 10px;
    }
}
@media (min-width: 768px){
    .section-entry{
        padding:  90px 0;

        .container{
            flex-direction: column-reverse;
        }
        &__suptitle{
            font-size: 13px;
            margin: 0 0 20px;
        }
        h1{
            text-align: center;
            margin: 0 0 60px;
        }
        &__image{
            width: 100%;
            height: 419px;
        }
    }
}
/*end section-entry*/
/*start section-advantages*/
.section-advantages{
    padding: 40px 0;

    h2{
        text-align: center;
        margin: 0 0 30px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        max-width: 876px;
        margin: 0 auto;
        position: relative;

        &:before{
            content: '';
            width: auto;
            height: auto;
            background-color: #E7EFFF;
            filter: blur(122px);
            position: absolute;
            top: -30px;
            left: -30px;
            right: -30px;
            bottom: -30px;
            z-index: -1;
        }
    }
    &__item{
        font-size: 12px;
        line-height: 1.3;
        color: $greyColor;
        width: 50%;
        min-height: 186px;
        background-color: $whiteBg;
        border-radius: 15px;
        overflow: hidden;
        padding: 10px;
        box-shadow: 0px 2px 27px 0px rgba(224, 224, 224, 0.25);

    }
    &__title{
        display: block;
        color: $mainColor;
        font-weight: 700;
        margin: 0 0 6px;
    }
}
@media (min-width: 768px){
    .section-advantages{
        padding: 85px 0;

        &__list{
            margin: 0 auto 75px;
        }
        &__item{
            font-size: 14px;
            line-height: 1.4;
            width: 33.3333%;
            min-height: 224px;
            padding: 29px 22px;
            border-radius: 26px;

            &.hidden{
                display: none;
            }
        }
        &__title{
            font-size: 18px;
            line-height: 1.17;
            font-weight: 500;
            margin: 0 0 10px;
        }
    }
}
@media (min-width: 1024px){
    .section-advantages{

        h2{
            margin: 0 0 70px;
        }
        &__title{
            font-size: 23px;
        }
    }
}
/*end section-advantages*/
/*start section-history*/
.section-history{
    background: $lightBg;
    padding: 30px 0;

    h2{
        text-align: center;
        margin: 0 0 28px;
    }
    &__hold{
        display: flex;
        flex-direction: column;
    }
    &__text{
        font-size: 14px;
        line-height: 1.43;
        margin: 0 0 10px;
    }
    &__title{
        font-size: 19px;
        font-weight: 500;
        display: block; 
        margin: 0 0 10px;
    }
    &__image{
        max-width: 275px;
        margin: 0 auto 10px;
        border: 9px;
        overflow: hidden;

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
@media (min-width: 768px){
    .section-history{
        padding: 125px 0;

        h2{
            margin: 0 0 70px;
        }
        &__hold{
            flex-direction: row;
            align-items: center;
            margin: 0 auto 82px;
            max-width: 994px;
        }
        &__text{
            font-size: 19px;
            line-height: 1.3;
            flex: 1;
            padding: 0 30px 0 0;
        }
        &__title{
            font-size: 28px;
            font-weight: 700;
            margin: 0 0 16px;
        }
        &__image{
            flex: 0 0 410px;
            max-width: inherit;
            margin: 0;
            border-radius: 13px;
        }
    } 
}
@media (min-width: 1024px){
    .section-history{

        &__text{
            padding: 0 114px 0 0;
        }
    }
}
/*end section-history*/
/*start section-founders*/
.section-founders{
    background-color: $greyBg;
    padding: 30px 0;

    h3{
        text-align: center;
        margin: 0 0 30px;
    }
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__item{
        width: 100%;
        max-width: 286px;
        background: $whiteBg;
        padding: 10px;
        border-radius: 20px;
        margin: 0 auto 16px;
    }
    &__image{
        width: 100%;
        max-width: 300px;
        padding-top: 84%;
        border-radius: 15px;
        overflow: hidden;
        margin: 0 auto 23px;
        position: relative;

        img{
            @include imgAbsolute(100%, 100%, cover);
            border-radius: 15px;
        }
    }
    &__name{
        font-size: 19px;
        font-weight: 500;
        display: block;
        margin: 0 0 7px;
    }
    &__info{
        padding: 23px 0 0;
        border-top: 1px solid $blueLightColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__mark{
        display: block;
        padding: 6px;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 700;
        color: $blueColor;
        background-color: $blueLightColor;
        border-radius: 10px;
        margin: 0 10px 0 0;
    }
    &__link{
        display: block;
        width: 18px;
        height: 18px;
        filter: grayscale(1);
        opacity: 0.65;
        transition: all 0.3s ease;

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:hover{
            opacity: 1;
            filter: grayscale(0);
        }
    }
}
@media (min-width: 768px){
    .section-founders{
        padding: 125px 0;

        h3{
            margin: 0 0 70px;
        }
        &__list{
            flex-direction: row;
            max-width: 918px;
            margin: 0 auto 25px;
        }
        &__item{
            width: 33.3333%;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        &__name{
            font-size: 23px;
            line-height: 1.17;
            margin: 0 0 23px;
        }
        &__info{
            margin-top: auto;
        }
    }
}
/*end section-founders*/
/*start section-contact*/
.section-contact{
    &__hold{
        display: flex;
        flex-direction: column;
    }
    &__info{
        width: 75%;
        margin: 0 auto 45px;

        strong{
            display: block;
            font-size: 23px;
            font-weight: 700;
            margin: 0 0 5px;
        }
        address{
            font-size: 19px;
            line-height: 1.2;
            color: $greyColor;
            font-style: normal;
            margin: 0 0 15px;
        }
    }
    &__image{
        width: 100%;
        padding-top: 70%;
        border-radius: 15px;
        background-color: $primaryBg;
        overflow: hidden;
        position: relative;
        margin: 0 auto 20px;

        img{
            @include imgAbsolute(100%, 100%, cover);
        }
    }
    @media (min-width: 768px) {
        &__image {
            border-radius: 20px;
            margin: 0 0 30px;
        }
        &__hold {
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1012px;
        }
        &__info {
            margin: 0;
            max-width: inherit;
        }
        &__info,
        &__form {
            width: 46.5%;
            padding: 0 15px;
        }
    }
}
/*end section-contact*/