/*start section-hero*/
.section-hero{
    padding: 80px 0 66px;
    position: relative;
    
    &__image{
        max-width: 450px;
        margin: 0 auto 8px;
        box-shadow: 0 0 30px 0 rgba(231, 239, 255, 1);

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__desc{
        margin: 0 auto 10px;
    }
    &__suptitle{
        font-size: 11px;
        font-weight: 500;
        color: $greyLightColor;
        text-transform: uppercase;
        display: block;
        text-align: center;
        margin: 0 auto 11px;
    }
}
@media (min-width: 768px) {
    .section-hero{
        padding: 90px 0 86px;

        .container{
            display: flex;
            flex-direction: column-reverse;
        }
        &__image{
            max-width: 703px;
            box-shadow: 0 0 60px 0 rgba(231, 239, 255, 1);
        }
        &__desc{
            max-width: 770px;
            text-align: center;
            margin: 0 auto 5px;
        }
        &__suptitle{
            font-size: 13px;
            margin: 0 0 20px;
        }
    }
}
/*send section-hero*/

/*start section-slider*/
.section-slider{
    position: relative;
    width: 100%;
    padding: 50px 0 20px;

    .container{
        padding: 0;
    }

    &__title{
        text-align: center;
        font-size: 14px;
        margin: 0 0 30px;
        padding: 0 20px;
        
        p{
            font-size: 16px;
            margin: 0 0 15px;
        }
    }
    h2{
        margin: 0 0 15px;
    }
}
.slider-paginator{
    display: none;
}
.slider{
    margin: 0 0 27px; 

    .slick-track{
        display: flex;
    }
    .slick-list{
        padding: 0 28px !important;
    }
    .slick-slide{
        float: none;
        height: inherit;

        &>div{
            display: flex;
            height: 100%;
        }
    }

}
.slide-item{
    padding: 16px;
    background: $lightBg;
    border-radius: 20px;
    margin: 0 6px;
    width: calc(100% - 12px) !important;
    height: 100%;

    &__image{
        width: 100%;
        margin: 0 auto 33px;
        border-radius: 5px;
        box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07);

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;
            overflow: hidden;
        }
    }
    &__title{
        font-size: 19px;
        line-height: 1.2;
        font-weight: 500;
        margin: 0 0 12px;
        display: block;
    }
    &__text{
        font-size: 14px;
        line-height: 1.4;
        margin: 0 0 50px;
    }
}
.slider-nav{
    display: flex;
    justify-content: center;
    padding: 0 30px;
    position: relative;
    flex-direction: row-reverse;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: #a4a4a4;
    max-width: 114px;
    margin: 0 auto 40px;
}
.slick-dots{
    position: relative;

    li{
        display: none;

        &.slick-active{
            display: block;
        }

        button{
            border:none;
            background-color: rgba(0,0,0,0);
            padding: 0;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 500;
            color: #424557;
            vertical-align: top;
        }
    }
}
.slider-count{
    display: inline-block;
    
}
.slick-arrow{
    width: 15px;
    height: 15px;
    border-left: 3px solid #d0d0d0;
    border-bottom: 3px solid #d0d0d0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    transition: border-color 0.3s ease;
    cursor: pointer;

    &.right{
        left: auto;
        right: 0;
        transform: translateY(-50%) rotate(-135deg);
    }
    &:hover{
        border-color: #b3b3b3;
    }
}
@media (min-width: 1024px) {
    .section-slider{
        padding: 100px 0 40px;
        &__title{
            margin: 0 0 73px;

            p{
                font-size: 19px;
            }
        }
    }
    .slider-nav{
        display: none;
    }
    .slider-hold{
        display: flex;
        max-width: 895px;
        margin: 0 auto;
        color: $greyColor;
    }
    .slider{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

        .slick-list{
            padding: 0 !important;
            width: 50%;
        }
        .slick-slide{
            >div{
                width: 100%;
            }
        }
        .slick-dots{
            width: 50%;

            li{
                display: block;
                width: 100% !important;
                max-width: 370px;
                cursor: pointer;

                .slick-slide{
                    font-size: 16px;
                    line-height: 1.6;
                    width: 100% !important;
                    opacity: 1 !important;
                    left: 0 !important;
                    padding: 13px 10px;
                    border-radius: 10px;
                    background: $lightBg;
                    margin: 0 0 5px; 
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center; 
                }
                &.slick-active{
                    .slick-slide{
                        background: $blueMiddleColor;
                    }
                }
            }
            
        }
    }
    .slick-slide__mark{
        font-size: 12px;
        line-height: 1.25;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 6px;
        background: $whiteBg;
        border-radius: 7px;
        color: $blueDarkColor;
        display: inline-block;
        margin: 0 0 0 10px;
    }
    .slide-item{
        padding: 0;
        margin: 0;
        background: rgba(0,0,0,0);
        width: 100% !important;

        &__image{
            max-width: 382px;
            margin: 0 auto 32px;
            box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
        }
        &__title{
            font-size: 28px;
            line-height: 1.3;
            margin: 0 0 15px;
        }
        &__text{
            font-size: 19px;
            line-height: 1.3;
        }
    }
}
/*end section-slider*/

/*start section-product*/
.section-product{
    background-color: $greyBg;
    padding: 30px 0;

    h3{
        text-align: center;
        margin: 0 0 30px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        padding:  0 14px;
    }
    &__item{
        width: 100%;
        background-color: $lightBg;
        border-radius: 20px;
        padding: 16px;
        margin: 0 0 16px;
        min-height: 363px;
    }
    &__media{
        width: 100%;
        margin: 0 0 27px;
        box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07);


        a{
            display: block;
            width: 100%;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: rgba(0,0,0,0.6);

            &:before{
                content: '';
                width: 50px;
                height: 50px;
                border: 5px solid $whiteBg;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 3;
            }
            &:after{
                content: '';
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 11px 0 11px 18px;
                border-color: transparent transparent transparent $whiteBg;
                transform: rotate(0deg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                margin: 0 0 0 3px;
                z-index: 3;
            }
        }
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            z-index: 1;
        }
    }
    &__info{
        position: relative;
        font-size: 14px;
        line-height: 1.4;

    }
    &__title{
        font-size: 19px;
        font-weight: 500;
        display: block;
        margin: 0 0 11px;
    }
}
@media (min-width: 768px) {
    .section-product{
        padding: 125px 0;

        h3{
            margin: 0 0 70px;
        }
        &__list{
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -8px 9px;
            width: auto;
        }
        &__item{
            width: calc(50% - 16px);
            margin: 0 8px 16px;
        }
        &__title{
            font-size: 23px;
            margin: 0 0 10px;
        }
    }  
}
@media (min-width: 1200px) {
    .section-product{
        &__item{
            display: flex;
            flex-direction: row-reverse;
            min-height: inherit;
        }
        &__media{
            width: calc(50% - 10px);
            margin: 0 0 0 10px;
            box-shadow: none;
        }
        &__info{
            width: 50%;
            padding: 0 10px 0 0;
        }
    }
}
/*end section-product*/

.fancybox__backdrop{
    background-color: rgba(97, 100, 114, 0.8);
}
.fancybox__carousel{
    padding: 0 20px;
}
.fancybox__slide{
    padding: 0;
    margin: 0;
}
.fancybox__slide.has-image>.fancybox__content{
    width: 100% !important;
    height: auto !important;
    background-color: $whiteBg;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(110, 110, 110, 0.25);
    padding: 22px 10px 10px 10px;

}
.fancybox__content{
    .close-button{
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        right: 10px;
        background-color: rgba(0,0,0,0);
        border: none;
        
        &:before,
        &:after{
            content: '';
            width: 8px;
            height: 1px;
            background-color: $greyMiddleColor;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-45deg);
        }
        &:after{
            transform: translate(-50%,-50%) rotate(45deg);
        }
    }
}
.fancybox__toolbar__column{
    display: none !important;
}
.fancybox-image{
    border-radius: 10px;
}
@media (min-width: 1024px) {
    .fancybox__slide.has-image>.fancybox__content{
        max-width: 944px;
        padding: 88px 82px 50px;
        border-radius: 26px;

    }
    .fancybox-image{
        border-radius: 26px;
    }
    .fancybox__content{
        .close-button{
            top: 39px;
            right:94px;
            
            &:before,
            &:after{
                content: '';
                width: 20px;
                height: 3px;
                background-color: $greyMiddleColor;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(-45deg);
            }
            &:after{
                transform: translate(-50%,-50%) rotate(45deg);
            }
        }
    }
}
/*start section-advert*/
.section-advert{
    padding: 30px 0 65px;

    &__hold{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px 35px 0;

        &:before{
            content: '';
            width: 100%;
            height: calc(100% - 35px);
            position: absolute;
            top: 0;
            left: 0;
            background: $primaryBg;
            border-radius: 15px;
            z-index: -1;
        }
    }
    &__info{
        width: 100%;
        color: $whiteColor;
        text-align: center;

        h4{
            text-align: left;
            margin: 0 0 20px;
        }
        p{
            text-align: left;
            margin: 0 0 30px;
        }
        .btn{
            margin: 0 0 63px;
        }
    }
    &__media{
        width: 100%;
        background-color: $whiteBg;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.04);

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}
@media (min-width: 768px) {
    .section-advert{
        padding: 100px 0;

        &__hold{
            padding: 62px 100px 0;
            flex-direction: row;
        }
        &__info{
            flex: 1;
            padding: 0 100px 0 0;
            text-align: left;

            p{
                margin: 0 0 40px;
            }
            btn{

            }
        }
        &__media{
            flex: 0 0 397px;
            border-radius: 13px;
        }
    }
}
/*end section-advert*/