#header {
    display: flex;
    padding: 14px 0;
    background-color: $lightBg;
    box-shadow: 0px 1.13px 10px 0px rgba(0, 0, 0, 0.035);
}
#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    width: 96px;
    height: 29px;
    margin: 0 10px 0 0;
    
    a{
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
} 
.header-btn__mobile{
    display: inline-flex;
}
.toogle-menu {
    display: block;
    position:absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index:101;
    width: 27px;
    height: 18px;
    text-indent:-99999px;
    cursor: pointer;
}
.toogle-menu > span {
    position:absolute;
    left:0;
    height:3px;
    width:100%;
    background: $mainColor;
}
.toogle-menu .t {
    top: 0;
    transform: rotate(0deg);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s, top 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s;
}
.open-nav .toogle-menu > span{
    background: $greyMiddleColor;
}
.open-nav .toogle-menu .t{
    top: 5px;
    transform: rotate(45deg);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s, top 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;
}
.toogle-menu .c {
    top: 7px;
    transition: opacity .2s ease-in-out;
}
.open-nav .toogle-menu .c{
    opacity:0;
}
.toogle-menu .b {
    top: 14px;
    transform: rotate(0deg);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s, top 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s, width 0.2s ease;
}
.toogle-menu:hover .b {
    width: 100%;
}
.open-nav .toogle-menu .b{
    top: 5px;
    width: 100%;
    transform: rotate(135deg);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s, top 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;
}
.nav-holder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background: $lightBg;
    z-index: 100;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    min-width: 320px;
    transition: all .2s ease-in-out;
}
.open-nav .nav-holder{
    opacity: 1;
    visibility: visible;
}
.nav-holder #nav{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.menu{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .logo{
        width: 167px;
        height: 51px;
    }
    .header-btn__mobile{
        display: none;
    }
}