/* common project variables */

/* font variables */
$gff:  sans-serif;
$gfs: 18px;
$glh: 21px;




/* color variables */
$dark: #000;

/* border-radius variables */

$boradFull: 100%;


/* transition variables */

$timeHover: 0.25s;

$boxshadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
