/* common project variables */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* font variables */
$gff: "DM Sans", sans-serif;
$gfs: 16px;
$glh: 21px;


/* color variables */
$mainColor: #080A13;
$blueColor: #1457FF;
$greenColor: #00CC85;
$greyColor: #00CC85;
$whiteColor: #fff;
$greyDarkColor: #616472;
$greyMiddleColor: #92949E;
$greyLightColor: #4F67F6;

/* bg color variables */
$whiteBg: #FFFFFF;
$greyBg: #F3F3F3;
$lightBg: #F9FAFF;
$primaryBg: #1457ff;
$primaryHoverBg: #154cd5;
$primaryActiveBg: #002b95;
$secondaryBg: #00cc85;
$secondaryHoverBg: #00b979;
$secondaryActiveBg: #00a46b;
$whiteHoverBg: #efefef;
$whiteActiveBg: #d0d0d0;


/* border-radius variables */

$boradFull: 100%;


/* transition variables */

$timeHover: 0.25s;

$boxshadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
