            </div> <!--/#main-->
            <footer id="footer">
                <div class="container">
                    <div class="footer__row">
                        <div class="footer__col-50">
                            <a href="/" class="logo"><img src="images/logo.webp" alt="logo" width="167" height="51"></a>
                        </div>
                        <div class="footer__col-50">
                            <ul>
                                <li>
                                    <a href="/solutions.html">Soluciones</a>
                                </li>
                                <li>
                                    <a href="/about-us.html">Sobre nosotros</a>
                                </li>
                                <li>
                                    <a href="/contact.html">Solicitar demo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__row">
                        <div class="footer__col-50">
                            <address>Qbind Plataformas SL,<br> Carrer de Llull, 321, 08019,  Barcelona‎ ES.<br> CIF B56721210</address>
                        </div>
                        <div class="footer__col-50">
                        </div>
                    </div>
                    <div class="text-copyright">
                        Copyright Qbind Plataformas S.A 2024
                    </div>
                </div>
            </footer>
        </div><!--/#wrapper-->
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.min.js"></script>
    </body>
</html>