<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="format-detection" content="telephone=no">
	<title>Project | landing</title>
	<link rel="stylesheet" href="css/main.min.css">
</head>

<body id="body">
	<div id="wrapper">
        <header id="header">
            <div class="container">
                <strong class="logo"><a href="/"><img src="images/logo.svg" alt="logo" width="167" height="51"></a></strong>
                <div class="header-btn__mobile">
                    <a href="/contact.html" class="btn btn-bordered-primary">Solicitar demo</a>
                    <span class="toogle-menu">
                        <span class="t"></span>
                        <span class="c"></span>
                        <span class="b"></span>
                    </span>
                </div>
                <div class="nav-holder">
                    <nav id="nav">
                        <ul class="menu">
                            <li>
                                <a href="/solutions.html">Soluciones</a>
                            </li>
                            <li>
                                <a href="/about-us.html">Sobre nosotros</a>
                            </li>
                        </ul>
                        <a href="/contact.html" class="btn">Solicitar demo</a>
                    </nav>
                </div>
            </div>
        </header>
        <div class="main">