<header id="header">
    <div class="container">
        <div class="header-holder">
            <strong class="logo"><a href="/"><img src="images/logo.png" alt="LOGO"></a></strong>
            <nav id="nav">
                <div class="nav-holder">
                    <ul class="menu">
                        <li>
                            <a href="/solutions.html">Soluciones</a>
                        </li>
                        <li>
                            <a href="/about-us.html">Sobre nosotros</a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                    <a href="/contact.html" class="btn">Solicitar demo</a>
                </div>
            </nav>
        </div>
    </div>
</header>
