<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="format-detection" content="telephone=no">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
	<title>@@title</title>
	<link rel="stylesheet" href="css/main.min.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TQK2HXLW');</script>
    <!-- End Google Tag Manager -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/apple-touch-icon-precomposed.png">
</head>

<body id="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQK2HXLW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<div id="wrapper">
        <header id="header">
            <div class="container">
                <a href="/" class="logo"><img src="images/logo.svg" alt="logo" width="167" height="51"></a>
                <div class="header-btn__mobile">
                    <a href="contact.html" class="btn btn-secondary">Solicitar demo</a>
                    <span class="toogle-menu">
                        <span class="t"></span>
                        <span class="c"></span>
                        <span class="b"></span>
                    </span>
                </div>
                <div class="nav-holder">
                    <nav id="nav">
                        <ul class="menu">
                            <li>
                                <a href="solutions.html">Soluciones</a>
                            </li>
                            <li>
                                <a href="about-us.html">Sobre nosotros</a>
                            </li>
                        </ul>
                        <a href="contact.html" class="btn btn-secondary">Solicitar demo</a>
                    </nav>

                    <div class="hold-lang">
                        <a href="#" class="item-lang" data-lang="en">EN</a>
                        <ul class="list-lang">
                            <li><a href="#" data-lang="en"  class="active">EN</a></li>
                            <li><a href="#" data-lang="es">ES</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <!-- Lawwwing plugin for https://qbind.eu -->
            <script src="https://cdn.lawwwing.com/widgets/current/c812af29-0a6d-45d7-adcd-a41a2ae9c180/cookie-widget.min.js" type="text/javascript" data-lwid="c812af29-0a6d-45d7-adcd-a41a2ae9c180"></script>
        </header>
        <div class="main">